.navbar-custom {
  background-color: $dark-green;
  color: $yellow;
  border-radius:0;
  margin-bottom: 0;
}

.navbar-custom .navbar-nav > li > a {
  color: $yellow;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: $dark-yellow;
  background-color: $very-dark-green;
}

.nav > li > a:hover, .nav > li > a:focus{
  color: $dark-yellow;
  background-color: $very-dark-green;
}

.navbar-custom .navbar-brand {
  color:$yellow;
}

.navbar-right{
  margin-right: 2vw;

}

.icon-filter{
  display: block;
  //float: left;
  width: 20px;
  height: 20px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  background: url("../public/hamburger.svg") center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.buttons-container{
  margin: 3vh 2vw 3vh 2vw;

  .filter-button{
    font-size: large;
    width: 150px;
    background: $light-yellow;
    border-radius: 50px;
    padding: 1vh 0 1vh 0;
    border: none;
    color: $dark-green;
    font-weight: 500;

    &.left{
      float: left;
    }

    &.right{
      float: right;
    }
  }
}

.chart-select {
  display: block;
  height: 100%;
  margin-top: 10%;
  font-size: 1.0em;
  background: $dark-green;
  color: $light-yellow;
  border: 1px solid $light-yellow;
}





