.login {

  &__form {
    margin: 15% 25% auto 25%;
    width: 50%;
  }

  &__header {
    background-color: $dark-green !important;
    color: $light-yellow !important;
  }

  &__button {
    background-color: $dark-green !important;
    color: $light-yellow !important;
  }

}