body{
  background-color: #fff;
  color: $very-dark-green;
  font-family: 'Tangerine', serif;
}

.main-container {
  color: $light-gray;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.page-container {
  color: $very-dark-green;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}