*{
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif, Arial;
  font-weight: 300;

  @media screen and (orientation: landscape){
    .page-container{
      padding-top: 10px;

      &__top-bar{
        display: block;
      }
    }
  }
}