<div class="page-container" ui-view="app"></div>
<div class="page-container__navigation-button settings" ng-click="app.openSettingsMenu()"></div>
<div class="page-container__navigation-button mail" ng-click="app.openMailMenu()"></div>
<div class="menu__overlay" ng-class="{'menu__overlay__show': app.showFilters ||  app.showMenu}"
     ng-click="app.closeMenus()"></div>
<div class="menu" ng-class="{'menu__open': app.showFilters}">
    <div class="menu__body">
        Filter goes here
    </div>
</div>
<div class="menu left" ng-class="{'menu__open': app.showMenu}">
    <div class="menu__body">
        Menu goes here
    </div>
</div>
