//External dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/angular-simple-sidebar/angular-simple-sidebar-black-theme.min.css";
@import "../../node_modules/angular-sidebar/src/angular-sidebar.css";
@import "../../node_modules/isteven-angular-multiselect/isteven-multi-select.css";
@import "../../node_modules/angular-ui-grid/ui-grid.min.css";

//Colors variables
@import "colors";


//Application dependencies
@import './co2/main';
@import "co2/application";
@import "co2/filter";
@import "co2/table";

