//External dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/angular-simple-sidebar/angular-simple-sidebar-black-theme.min.css";
@import "../../node_modules/angular-sidebar/src/angular-sidebar.css";

//Colors variables
@import "colors";


//Application dependencies
@import './co2/main';
@import "co2/application";


