$dark-green: #388E3C;
$very-dark-green: #2e5c2e;
$green: #4CAF50;
$light-green: #C8E6C9;
$white: #FFFFFF;
$yellow: #FFEB3B;
$dark-yellow: #b19d2f;
$black: #212121;
$dark-gray: #757575;
$light-gray: #BDBDBD;

$navbar-default-link-hover-bg: $very-dark-green;